In [21]:
import pandas as pd
import statsmodels.formula.api as smf

In [22]:
data = pd.read_csv("/Users/asahi/Desktop/Pistat/salary2.csv", sep=",")
data.head()

   id  salary  yearsdg  rank  gender  yearsdgrank  yearsdggender
0   1    6.10        2     0       0            0              0
1   2    3.10        0     0       0            0              0
2   3    3.58        1     0       0            0              0
3   4    4.16        9     0       0            0              0
4   5    3.70        3     0       0            0              0

In [23]:
formula = "salary~ yearsdg+rank+yearsdgrank+gender+yearsdggender"
out1 = smf.ols(formula, data = data).fit()

In [24]:
print(out1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.560
Model:                            OLS   Adj. R-squared:                  0.555
Method:                 Least Squares   F-statistic:                     129.1
Date:                Wed, 23 Jun 2021   Prob (F-statistic):           4.49e-88
Time:                        15:28:38   Log-Likelihood:                -639.82
No. Observations:                 514   AIC:                             1292.
Df Residuals:                     508   BIC:                             1317.
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.0908      0.102     39.998      0.000       3.890       4.292
yearsdg           0.0431      0.008      5.597      0.000       0.028       0.058
rank              0.3217      0.268      1.201      0.230      -0.205       0.848
yearsdgrank       0.0318      0.013      2.469      0.014       0.006       0.057
gender           -0.3409      0.159     -2.145      0.032      -0.653      -0.029
yearsdggender    -0.0052      0.011     -0.457      0.648      -0.027       0.017
==============================================================================
Omnibus:                       55.616   Durbin-Watson:                   1.854
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               70.901
Skew:                           0.866   Prob(JB):                     4.02e-16
Kurtosis:                       3.557   Cond. No.                         168.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [80]:
import sympy as sym

In [81]:
y, b0, b1, b2, b3, b4, b5, x1, d1, d2 = sym.symbols("y b0 b1 b2 b3 b4 b5 x1 d1 d2")

In [82]:
def d1_0():
    b0 = 4.0908
    b1 = 0.0431
    b2 = 0.3217
    b3 = 0.0318
    b4 = -0.3409
    b5 = -0.0052

    d1 = 0
    
    y = b0 + b1*x1 + b2*d1 + b3*x1*d1 + b4*d2 + b5*x1*d2
    
    print(y)

In [83]:
def d1_1():
    b0 = 4.0908
    b1 = 0.0431
    b2 = 0.3217
    b3 = 0.0318
    b4 = -0.3409
    b5 = -0.0052 
    
    d1 = 1
    
    y = b0 + b1*x1 + b2*d1 + b3*x1*d1 + b4*d2 + b5*x1*d2
    
    print(y)

In [84]:
def d2_0():
    b0 = 4.0908
    b1 = 0.0431
    b2 = 0.3217
    b3 = 0.0318
    b4 = -0.3409
    b5 = -0.0052 
    
    d2 = 0
    
    y = b0 + b1*x1 + b2*d1 + b3*x1*d1 + b4*d2 + b5*x1*d2
    
    print(y)

In [85]:
def d2_1():
    b0 = 4.0908
    b1 = 0.0431
    b2 = 0.3217
    b3 = 0.0318
    b4 = -0.3409
    b5 = -0.0052 

    d2 = 1

    y = b0 + b1*x1 + b2*d1 + b3*x1*d1 + b4*d2 + b5*x1*d2

    print(y)

In [86]:
d1_0()

-0.0052*d2*x1 - 0.3409*d2 + 0.0431*x1 + 4.0908

In [87]:
d1_1()

-0.0052*d2*x1 - 0.3409*d2 + 0.0749*x1 + 4.4125

In [88]:
d2_0()

0.0318*d1*x1 + 0.3217*d1 + 0.0431*x1 + 4.0908

In [89]:
d2_1()

0.0318*d1*x1 + 0.3217*d1 + 0.0379*x1 + 3.7499